// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.visual{
  background-image: image-url("cake-shop.jpg");
  width: 100%;
  height: 800px;
  padding-top: 200px;
}