<h1 class="text-center">About</h1>
<div class="text-center">
  <strong>
    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリデーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。
  </strong>
</div>