<h2>ジャンル編集</h2>
<%= form_with model:@genre, url:admin_genre_path(@genre), method: :patch do |f| %>

  <%= f.label :name, "ジャンル名" %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  <%= f.submit "変更を保存", class: "btn btn-success" %>

<% end %>